<h2>Edit <%= formatted_quarter(@quarter) %></h2>

<%= render 'new_edit_form', change: "update",
  form_season: @season.capitalize,
  form_year: @year, form_start_date: @quarter.start_date,
  form_course_submission_deadline: @quarter.course_submission_deadline,
  form_student_bidding_deadline: @quarter.student_bidding_deadline,
  form_end_date: @quarter.end_date %>

<br />

<p><%= link_to "Courses", courses_path(year: year_slug(@year), season: @season) %></p>
