<h2>Quarters</h2>

<% if Quarter.all.present? %>
  <% if can? :manage, Quarter %>
    <%= render 'shared/quarter_year_table', items: @quarters, show_year: true %>
  <% else %>

    <% @quarters.each do |quarter| %>
      <p>
	<%= link_to formatted_quarter(quarter),
	  courses_path({ year: year_slug(quarter.year), season: quarter.season }) %>
	<%= "(current)" if quarter.active? %>
      </p>
    <% end %>

  <% end %>
<% else %>
  <p>There are currently no quarters.</p>
<% end %>

<% if can? :manage, Quarter %>
  <p>Click <%= link_to "here", new_quarter_path %> to make a new quarter.</p>
<% end %>
