
<%# This lets us feed the deadlines to our JS file. %>
<%= content_tag :div, class: "deadlines_class",
  data: { deadlines: @deadlines } do %>
<% end %>

<%= render 'date_notification' %>

<h2>Create a Quarter</h2>

<%= render 'new_edit_form', change: "create", form_season: default_season,
  form_year: Time.now.year, form_start_date: start_date,
  form_course_submission_deadline: default_deadline("course"),
  form_student_bidding_deadline: default_deadline("bid"),
  form_end_date: end_date %>
