<h2><%= formatted_quarter(@quarter) %> Courses</h2>

<% if @quarter_courses.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
      <%# Summary column? %>
    </tr>
    <tbody>
  <% @quarter_courses.each do |course| %>
    <tr>
      <td><%= link_to(course.name, course_path(id: course.id)) %></td>
      <td><%= display_name(course.advisor) %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% else %>
  There are no courses to show for this quarter.
<% end %>

<%# DRY up; almost identical to courses/index.html.erb %>
<%# This file is currently not in use. %>
