<h2>My <%= formatted_quarter_by_params %> Course Requests</h2>

<ul>
<% @courses_ranks.each do |c, r| %>
  <li>
    <%= c.number %> (<%= c.title %>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= r.try(:preference) || "No preference" %>
  </li>
<% end %>
</ul>
