<h2><%= formatted_year(@academic_year) %> Courses</h2>

<br>

<% @these_quarters.reverse.each do |quarter| %>
  <h3><%= formatted_quarter(quarter) %></h3>

  <br>

  <% if quarter.courses.present? %>
    <table class="table table-bordered">
      <tr>
	<th>Title</th>
	<th>Instructor</th>
      </tr>
      <tbody>
    <% quarter.courses.each do |course| %>
      <tr>
	<td><%= link_to(course.title, q_path(course)) %></td>
	<td><%= display_name(course.instructor) %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% else %>
    There are no courses to show for this quarter.
  <% end %>
  <br>
  <br>
<% end %>
