<%= tinymce_assets %>

<h2>Create a <%= formatted_quarter_by_params %> Course</h2>

<div class="alert alert-info">
  <strong>Course submission deadline</strong>:
  <%= formatted_deadline("course_submission") %>
</div>

<%= render 'new_edit_course_form', change: 'create',
    url: courses_path(year: params[:year], season: params[:season]) %>
