<% if before_deadline?("student_bidding", quarter) %>
  <div class="alert alert-info">
    <p>
      <strong>Course request deadline</strong>:
      <%= formatted_deadline("student_bidding", quarter) %>
    </p>
  </div>
<% elsif current_user %>
  <div class="alert alert-warning">
    <p>
      <strong>The course request deadline for this quarter has passed</strong>.
      The deadline was <%= formatted_deadline("student_bidding", quarter) %>.
    </p>
  </div>
<% end %>
